/*
  Name: Johnathan Smith
  Assignment: 4.2 Build a Web Page Exercise - Part 4
*/

#container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: rgba(40, 90, 170, 0.9);
}

#image-gallery {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#image-gallery h3 {
  text-align: center;
  color: rgba(155, 70, 200, 0.9);
}

figure {
  text-align: center;
  margin: 0;
}

figure img {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-style: italic;
  font-size: 0.75em;
  color: rgba(70, 150, 95, 0.9);
}

#return-link {
  margin-top: 40px;
  text-align: right;
}
