#container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

h1, h2, h3, h4 {
  background-color: #1e293b;
  color: #ffffff;
  border: 1px solid #D6A800;
  padding: 10px;
}

a {
  color: #1e293b;
  text-decoration: none;
}

a:hover {
  color: #D6A800;
}

a:visited {
  color: #475569;
}
